#include "resource.h"
#include "winres.h"

#include <version.h>

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifndef SM_GENERATED_BUILD
#define BINARY_NAME "vphysics.ext.dll\0"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SM_FILE_VERSION
 PRODUCTVERSION SM_FILE_VERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "VPhysics Extension"
            VALUE "FileDescription", "SourceMod VPhysics Extension"
            VALUE "FileVersion", SM_FULL_VERSION
            VALUE "InternalName", "SourceMod VPhysics Extension"
            VALUE "LegalCopyright", "Copyright (c) 2010, Asher Baker"
            VALUE "OriginalFilename", BINARY_NAME
            VALUE "ProductName", "SourceMod VPhysics Extension"
            VALUE "ProductVersion", SM_FULL_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
